* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #eeeade;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeade;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #db472d;
}

.title-container {
  text-align: center;
  margin:0;
  padding: 0px 0px 0px 0px;
}

.slogan {
  font-size: 2.5em;
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin:0;
}


.NavHeader {
  padding: 10px 0px 00px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*font-family: 'Poppins', sans-serif;*/
  font-size: large;
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.NavMain {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 150px;
  margin-right: 120px;
}

.NavIcons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.NavIcons li {
  margin: 0 10px;
}

.NavMain li a {
  padding: 0.8em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color:black;
}

.NavIcons li a{
  color:black;
}

.NavBar li a:hover {
  font-weight: bold;
  color: #db472d;
}

.NavBar li a.active {
    color: #db472d;
}

.pzza-card {
  max-width: 250px;
}

.custom-col{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*font-family: 'Poppins', sans-serif;*/
}

.footer {
  text-align: center;
  margin: 0px;
  padding-top:20px; 
}

.footer > a {
  color: black;
  text-decoration: underline;
}

.icon{
  margin-right:10px;
}

.custom-mr-8em{
  margin-right:8em;
}

.custom-width{
  width:600px;
  max-width: 600px;
}

.custom-bg-color{
  background-color: #eeeade !important;
}

.pizza-img-size{
  width: 180px !important;
  height: 'auto'
}

.custom-icon-style{
  color: red; 
  margin-left: 10px
}